<div class="row">
    <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
        <p class="formHeading">ATTENDANCE FORM</p>
    </div>
    <!--  -->
    <!--  -->
    <form name="myForm" class="form-horizontal" ng-submit="submit(attendanceData)">
        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12 ">
            <div class="divBg">
                <div class="row">
                    <textarea ng-model="items" class="form-control" ng-show="!isAttendanceData"
                              placeholder="Paste data here." ng-list="&#10;" onClick="this.select();"
                              ng-trim="false"></textarea>

                    <div class="row">
                        <div class="col-md-2">
                            <a class="btn btn-danger" ng-show="isAttendanceData" ng-click="clearData()">Clear Data
                            </a>
                        </div>
                        <div class="col-md-7" ng-show="isAttendanceData">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">File Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="attendanceData.fileName" placeholder="Enter File Name" required="true">
                                </div>
                            </div>


                        </div>
                        <div class="col-md-3">
                            <button ng-if="myForm.$dirty" class="btn btn-default formSubmitBtn pull-right" ng-show="isAttendanceData"
                                    type="submit"
                                    style="background:#00a9b7;color:#fff">Submit
                            </button>
                        </div>



                    </div>
                    <div ng-show="!isAttendanceData">
                        <h3 style="text-align: center">Data must be in below format</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Admission No</th>
                                <th>Class</th>
                                <th>Section</th>
                                <th>Roll No</th>
                                <th>Date (yyyy-mm-dd)</th>
                                <th>status(0-Absent,1-Present)</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                </div>
                <div class="row">
                    <table border="1" ng-show="isAttendanceData" class="table table-bordered scroll"
                           style="height: 500px">
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Admission No</th>
                            <th>Class</th>
                            <th>Section</th>
                            <th>Roll No</th>
                            <th>Date (yyyy-mm-dd)</th>
                            <th>status(0-Absent,1-Present)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in table track by $index">
                            <td>{{$index+1}}</td>
                            <td><input type="text" placeholder="Admission No"
                                       style="padding: 0;margin: 0;width: 100px;border: 0;background: transparent"
                                       ng-model="attendanceData[$index]['adNo']"
                                       value="{{attendanceData[$index]['adNo']}}"
                                       data-ng-init="attendanceData[$index]['adNo']=item.adNo" required="true"></td>
                            <td><input type="text" placeholder="Class"
                                       style="padding: 0;margin: 0;width: 40px;border: 0;background: transparent"
                                       ng-model="attendanceData[$index]['class']"
                                       value="{{attendanceData[$index]['class']}}"
                                       data-ng-init="attendanceData[$index]['class']=item['class']" required="true"
                                       pattern="^\d{1,2}$"></td>
                            <td><input type="text" placeholder="Section"
                                       style="padding: 0;margin: 0;width: 55px;border: 0;background: transparent"
                                       ng-model="attendanceData[$index]['section']"
                                       value="{{attendanceData[$index]['section']}}"
                                       data-ng-init="attendanceData[$index]['section']=item['section']" required="true"
                                       maxlength="2"></td>
                            <td><input type="text" placeholder="Roll No"
                                       style="padding: 0;margin: 0;width: 55px;border: 0;background: transparent"
                                       ng-model="attendanceData[$index]['rollNo']"
                                       value="{{attendanceData[$index]['rollNo']}}"
                                       data-ng-init="attendanceData[$index]['rollNo']=item['rollNo']" required="true"
                                       pattern="^\d{1,3}$"></td>
                            <td><input type="text" placeholder="Date(yyyy-mm-dd)"
                                       style="padding: 0;margin: 0;width: 150px;border: 0;background: transparent"
                                       vng-model="attendanceData[$index]['date']"
                                       value="{{attendanceData[$index]['date']}}"
                                       data-ng-init="attendanceData[$index]['date']=item['date']" required="true"
                                       pattern="\d{1,4}-\d{1,2}-\d{1,2}"></td>
                            <td><input type="text" placeholder="Status"
                                       style="padding: 0;margin: 0;width: 150px;border: 0;background: transparent"
                                       ng-model="attendanceData[$index]['status']"
                                       value="{{attendanceData[$index]['status']}}"
                                       data-ng-init="attendanceData[$index]['status']=item.status" required="true"
                                       pattern="^[0-1]\d{0}$"></td>
                            <input type="hidden" ng-if="item.id"  ng-model="attendanceData[$index]['id']"
                                   value="{{attendanceData[$index]['id']}}"
                                   ng-init="attendanceData[$index]['id']=item.id"  >
                        </tr>
                        </tbody>

                    </table>

                </div>

            </div>
        </div>
    </form>
    <!--  -->
</div>
<div class="row">
    <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
        <p class="formHeading">Previous Data</p>
    </div>
    <!--  -->
    <!--  -->
    <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12 ">
        <div class="divBg">
            <div class="row">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Name Of the file</th>
                        <th>Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="atten in attendanceDataPrev track by $index">
                            <td ng-bind="$index+1"></td>
                            <td ng-bind="atten.name"></td>
                            <td ng-bind="atten.timestamp"></td>
                            <td><button ng-click="editAttendance(atten)" class="btn btn-sm btn-primary">Edit</button></td>
                            <td><button  ng-click="deleteAttendance(atten.UID)"  class="btn btn-sm btn-danger">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

