<form style="margin-left: 25px;">
    <div class="row">
        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
            <p class="formHeading">EVENT FORM</p>
        </div>
        <!--  -->
        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12 ">
            <div class="divBg">
                <div class="row">
                    <div class="col-xs-12  col-sm-6 col-md-6 col-lg-6">
                        <!--<p class="formText">Lorem Ipsum has been the industry's standard dummy ,<span class="glyphicon glyphicon-pencil modifyIcon" aria-hidden="true"></span><span class="glyphicon glyphicon-trash modifyIcon" aria-hidden="true"></span></p>-->
                        <!--<div class="form-group">-->
                        <!--<label for="eventHeading">Event heading</label>-->
                        <!--<input type="text" class="form-control" id="eventHeading" placeholder="Event heading">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--<label for="eventDate">Event Date</label>-->
                        <!--<input type="date" class="form-control" id="eventDate" placeholder="Event Date">-->
                        <!--</div>-->
                    </div>
                    <!--  -->
                    <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
                        <form name="myForm" >
                            <div class="row">
                                <div class="col-xs-12  col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group" >
                                        <input type="text" class="form-control" maxlength="25" ng-model="formData.eventName" placeholder="Enter event Name" required>
                                    </div>
                                </div>
                                <div class="col-xs-12  col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group" >
                                        <datepicker date-format="yyyy-MM-dd">
                                            <input class="form-control" ng-model="formData.eventDate" placeholder="Select event Date"  readonly required type="text"/>
                                        </datepicker>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="newsImage">Select images(Can select multiple image at a time)</label><br/>
                                <i>Each must be greater than 200x200 resolution,ecah image maximum file size is 10Mb,Can select upto 20 images</i><br />
                                <input type="file" name="file" ngf-multiple="true" ngf-max-files="20" ngf-keep-distinct = 'true' ngf-keep='true' ngf-select ng-model="$files"
                                       id="newsImage" ngf-pattern="'image/*'"
                                       ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="200"  required>
                            </div>
                            <div class="row">
                                <div ng-init="blockUI.start()" ng-repeat="image in $files" >

                                    <div  ng-show="$files[$index]" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div  ng-show="$files[$index]" class="show-image">
                                            <img  ngf-src="image" ng-model="formData.thumbFiles[$index]"
                                                  class="thumb"/>
                                            <span class="progress" ng-show="image.progress >= 0">
                                            <div style="width:{{image.progress}}%" ng-bind="image.progress + '%'"></div>
                                            </span>
                                            <a class="update btn btn-info" ng-click="$files.splice($index, 1)"
                                               ng-show="$files[$index]" >Remove Image</a>
                                        </div>
                                </div>
                                   <span ng-init="blockUI.stop()" ></span>
                                </div>
                            </div>
                            {{myForm.$error}}
                            <ul>
                                <li ng-repeat="(key, errors) in myForm.$error track by $index"> <strong>{{ key }}</strong> errors
                                    <ul>
                                        <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="form-group">
                                <br/><br />
                                <button class="btn btn-primary btn-lg"   ng-click="submit($files,formData)">submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
    </div>
    <div class="progress-bar-area"></div>
</form>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="pic in eventsData track by $index" style="margin-bottom:30px" data-toggle="modal" ng-if="pic.status==1" data-target="#myModal" >
         <span ng-if="pic.status==1" ng-click="deleteevent(pic)" class="glyphicon glyphicon-trash modifyIcon" style="color: #761c19" aria-hidden="true"></span>
		<div class="eventCard">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<p class="picsHeading">{{pic.eventName}}</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="	margin-bottom:10px">
					<img class="eventImage"  ng-src="{{pic.images[0].large}}" fallback-src />
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right:5px">
					<img class="eventImage"  ng-click="showSlideShow(pic.photos,pic.title)"  ng-src="{{pic.images[1].large}}" fallback-src />
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left:5px">
					<div class="moreImages">
						<img class="eventImage"  ng-class="{'imageOpacity': pic['images'].length > 3}" ng-src="{{pic.images[2].large}}" fallback-src />
					</div>
					<p ng-show="pic['images'].length > 3" class="imageCount">{{pic.images.length -3 }}+ more</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!--<input id="inputImage" type="file" accept="image/*" image="image1" resize-max-height="1000" resize-max-width="1000" resize-quality="0.7" resize-type="image/jpg" />-->