<form style="margin-left: 25px;">
<div class="row">
  <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
    <p class="formHeading">RESULTS FORM</p>
  </div>
  <!--  -->
  <!--  -->
  <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12 ">
    <div class="divBg">
      <div class="row">
       <!--  -->
        <div class="col-xs-12  col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="resultsType">Results Type</label>
           <select  id="resultsType" class="form-control">
            <option>School Results</option>
            <option>IIT Foundation</option>
          </select>
          </div>
        </div>
        <!--  -->
        <div class="col-xs-12  col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="examType">Exam Type</label>
                <select  id="examType" class="form-control">
                    <option>FA1</option>
                    <option>FA2</option>
                    <option>FA3</option>
                    <option>FA4</option>
                    <option>SA1</option>
                    <option>SA2</option>

                </select>
            </div>
          <div class="form-group">
            <label for="downloadFile">Download File</label><br>
            <a id="downloadFile" href="www.dowmloadfile">Download File</a>
          </div>
        </div>
      </div>
      <div class="row">
      <!--  -->
        <div class="col-xs-12  col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="examDate">Exam Name</label>
            <input type="text" class="form-control" id="examDate" placeholder="Jul 12">
          </div>
        </div>
        <!--  -->
        <div class="col-xs-12  col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="examCon">Exam Conducted date</label>
            <input type="text" class="form-control" id="examCon" placeholder="Jul 14">
          </div>
        </div>
        <!--  -->
        <div class="col-xs-12  col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="class">Calss</label>
            <select id="class" multiple class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
          </div>
        </div>
        <!--  -->
        <div class="col-xs-12  col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="section">Section</label>
           <select id="section" multiple class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          </div>
        </div>
        <div class="col-xs-12  col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="exampleInputFile">Browse File</label>
            <input type="file" id="exampleInputFile">
          </div>
        </div>
          <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12" style="">
           <button  class="btn btn-default formSubmitBtn" type="submit" style="background:#00a9b7;color:#fff">Submit</button>
        </div>
        <!--  -->
      </div>
    </div>
  </div>
  <!--  -->
</div>
</form>
