<form name="myForm" style="margin-left: 25px;">
<div class="row">
  <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
    <p class="formHeading">WELCOME FORM</p>
  </div>
  <!--  -->
  <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12 ">
    <div class="divBg">
      <div class="row">
        <!--  -->
        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4"></div>
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
            <div class="form-group">
              <!--<label >School logo</label>-->
              <div class="show-image">
              <img style="max-height: 200px;max-width: 200px" ng-src="{{data.schoolData[0].schoolLogo}}" />
              <a class="update btn btn-info"  ng-click="changeImage(data.schoolData[0],'schoolLogo')" > Change Logo</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4"></div>
        </div>
        <!--  -->
        <div class="col-xs-12  col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="schoolName">School name</label>
            <input type="text" class="form-control" id="schoolName" ng-model="data.schoolData[0].schoolName" placeholder="School name" ng-dblclick="data.schoolNameEdit=false" ng-readonly="data.schoolNameEdit" ng-init="data.schoolNameEdit=true" eadonly required>
          </div>
        </div>
        <!--  -->
        <div class="col-xs-12  col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="schoolBranch">School branch</label>
            <input type="text" class="form-control" id="schoolBranch" ng-model="data.schoolData[0].schoolBranch" placeholder="School branch" ng-dblclick="data.schoolbranchEdit=false" ng-readonly="data.schoolbranchEdit" ng-init="data.schoolbranchEdit=true" required>
          </div>
        </div>
        <!--  -->
      </div>
    </div>
  </div>
  <!-- Inception -->
  <div ng-repeat="(k,d) in data.welcomeData.data" class="col-xs-12  col-sm-12 col-md-12 col-lg-12 ">
    <div class="divBg">
      <div class="row">
        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label  ng-bind="d.title"></label>
           <span class="glyphicon glyphicon-trash modifyIcon pull-right" style="color: red" ng-click="removeFiled(k)" aria-hidden="true"></span>
            <div  ng-repeat="ddd in data.welcomeData.data[k]['data'] track by $index" >
              <div class="col-xs-11  col-sm-11 col-md-11 col-lg-11">
            <textarea style="margin-top: 15px !important;"  msd-elastic class="form-control" ng-model="data.welcomeData.data[k]['data'][$index]"  placeholder="{{d.title}}"  ></textarea>
            </div>
              <div class="col-xs-1  col-sm-1 col-md-1 col-lg-1">
                <span class="glyphicon glyphicon-trash" style="color: red;margin-top: 25px !important;" ng-click="removeFiledPoint(k,$index)" ></span>
              </div>
            </div>
          </div>
          <button class="btn btn-primary pull-right" ng-click="data.welcomeData.data[k]['data'].length=data.welcomeData.data[k]['data'].length+1">Add Row</button>
        </div>
        <!--  -->
        <!--<div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">-->
          <!--<div class="form-group">-->
            <!--<label >Inception description</label>-->
            <!--<textarea class="form-control" rows="3" placeholder="Text here" ></textarea>-->
          <!--</div>-->
        <!--</div>-->
        <!--  -->
      </div>
    </div>
  </div>
  <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12 ">
    <form >
    <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4 "></div>
    <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4 ">
      <div ng-if="data.addnewFiledName" class="form-group">
      <input type="text"  class="form-control" ng-model="data.filedName" placeholder="Enter Filed Name" required>
        </div>
    </div>
    <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4 ">
      <button ng-if="data.addnewFiledName" type="submit" ng-click="addNewFiled(data.filedName)" class="btn btn-primary pull-right"   style="margin-bottom:30px" >Update</button>
      <button class="btn btn-primary pull-right" ng-if="!data.addnewFiledName"ng-click="showNewFiled()" style="margin-bottom:30px">Add New Filed</button>
    </div>
    </form>
  </div>
  <!--  -->
  <!-- Our Mission -->
  <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12 ">
    <div class="divBg">
      <div class="row">
        <!--  -->
        <!--  -->
        <label >School Photos</label>
        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <div class="show-image" ng-repeat="(k,d) in data.welcomeData.images">
              <img width="200px" height="200px" style="padding-left: 15px"  ng-src="{{data.welcomeData.images[k].schoolImg}}" />
              <a class="update btn btn-info" ng-click="changeImage(data.welcomeData.images,'schoolImg',k)">Change Image</a>
            </div>

          </div>
        </div>
        <!--  -->
      </div>
    </div>
  </div>

  <!--Our Objectives  -->
  <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12 ">
    <div class="divBg">
      <div class="row">
        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label >Features</label>
            <div ng-repeat="(k,d) in data.welcomeData.features track by $index">
              <div class="form-group">
                <!--ng-if="data.welcomeData.features[k]['objectiveList'].length>1?data.welcomeData.features[k]:data.welcomeData.features[k]=undefined"-->
                <textarea  msd-elastic  ng-model="data.welcomeData.features[k]['objectiveList']"   class="form-control" placeholder="Features"></textarea>
              <span class="glyphicon glyphicon-trash modifyIcon pull-right" style="color: red" ng-click="removeFuture(k)" aria-hidden="true"></span>
                </div>
            </div>
            <button class="btn btn-primary pull-right" style="margin-top: 20px" ng-click="addNewFeature()">Add New Feature</button>
          </div>
        </div>
        <!--  -->
        <!--  -->
      </div>
    </div>
  </div>
</div>
</form>



