.modifyIcon{
	margin-left: 20px;
    cursor: pointer;
    float: right;
    font-size: 18px;
    margin-bottom: 15px;
}
.active {
    color: white;
}
div.show-image {
    position: relative;
    float:left;
    margin:5px;
}
div.show-image:hover img{
    opacity:0.5;
}
div.show-image:hover a {
    display: block;
}
div.show-image a {
    position:absolute;
    display:none;
}
div.show-image a.update {
    top:50%;
    left:20%;
}